.resume-card .ant-card-body {
    padding: 0px;
}
.ant-card {
    overflow: hidden;
}
.resume-card .resume-details-actions {
    padding: 0px 16px;
    padding-bottom: 16px;
}
.resume-card-preview-image {
    border: solid 2px #cccccc;
    border-radius: 8px
}
.resume-card-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.resume-card-header {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; */
    width: 100%;
    padding: 0.25rem 0.5rem;
    
}

.resume-card-header .title {
    margin-bottom: 0.5rem;
}


.resume-card-header .subtitle {
    
}