.award-history-selector {
    background-color: white;
    border-radius: 12px;
    padding: 12px;
}

.award-menu .ant-menu-title-content {
    margin: 12px;
    /* padding: 4px; */

}
.award-menu .ant-menu-item{
    height: auto;
    line-height: normal;
}



.award-menu .ant-menu-item .title{
    font-weight: 500;
    overflow: hidden;
    width: calc(100% - 8px);
    text-overflow: ellipsis;
    /* text-overflow: ellipsis;
    width: calc(100% - 8px);
    overflow: hidden; */
}



.award-menu .ant-menu-item .subtitle{
    line-height: normal;
    white-space: normal;
    color: #00000097;

}
.award-menu  .ant-menu-item-selected .subtitle{
    line-height: normal;
    white-space: normal;
    color: #256763b6;

}

.award-menu .ant-menu-item-selected{
    background-color: #25676320 !important;
    height: auto;
    /* color: #fff !important; */
}


 /* ant-menu-item-selected */

 .award-course-tag {
    background-color: var(--primary-400);
    color: white;
    font-size: 14px;
    padding: 4px 8px;
 }