.chat-message-wrapper {
  width: 100%;
  display: inline-block;

  /* display: flex; */
  flex-direction: column;
}
.agent-chat-message {
  float: left;
  margin: 0.125rem 0.5rem;
  padding: 0.5rem;
  background-color:   #5b63ab36;
  
  border-radius: 0.75rem;
  display: block;
  /* max-width: 60%; */
}

.user-chat-message {
  float: right;
  margin: 0.125rem 0.5rem;
  padding: 0.5rem;
  background-color: #7777773d;
  border-radius: 0.75rem;
  /* max-width: 60%; */
}

.agent-chat-message-timeline {
  float: left;
  margin: 0rem 0.5rem;
  padding: 0rem 0.5rem;
  /* background-color: #6f889226; */
  /* border-radius: 0.75rem; */
  font-size: 12px;
  color: gray;
  display: block;
  margin-right: auto;

  /* max-width: 60%; */
}

.user-chat-message-timeline {
  float: right;
  margin: 0rem 0.5rem;
  padding: 0rem 0.5rem;
  font-size: 12px;
  margin-left: auto;
  color: gray;

  /* background-color: #00c2d13d; */
  /* border-radius: 0.75rem; */
  /* max-width: 60%; */
}

.chat-message-box {
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.markdown-message-container p {
    margin: 0.375rem 0rem;
}

.markdown-message-container a {
    color: var(--primary);
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

}

.markdown-message-container a:hover {
    color: var(--primary);
    opacity: 1;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}